/*<!--GRUPO HEADER-->*/ 





/*<!--GRUPO BODY-->*/ 
body {
    background-image: url('anexos/fondo_pantalla.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}

.space-header {
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
}

.main {
    background: transparent;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    background-image: url('anexos/imagen_inicio_prueba.jpg');
    background-size: cover;
    width: 40%;
    height: 75%;
}
.espacio {
    width: 10%;
    height: 100%;
}
.aside {
    background-image: url('anexos/fondo_texto.png');
    background-size: contain;
    background-position: center;
    text-align: center;
    width: 40%;
    height: 52%;
}



/*<!--GRUPO FOOTER-->*/ 


